body {
	top: 0;
	margin: 0;

}

ul {
	margin: 0;
}

#nav {
	list-style: none;
	background-color: black;

}

#nav a {
	color: white;
	text-decoration:none;

}

#nav li {
	display: inline-block;
	margin-left:10px; 
	text-align: middle;
}